{% load static %}

<!--controle animacao do-->
<style>

.animacao { 
  background:transparent; 
  color: rgba(255,255,255,.25); 
 
  text-align:center;
}

.animacao p {
	border: 4px double rgba(255,255,255,.25) !important;
	
}

.animacao span {

  	font: 10  "Oswald", sans-serif;
  	letter-spacing: 0;
  
/* Clip Background Image */

	  background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
	  -webkit-background-clip: text;
	  background-clip: text;

/* Animate Background Image */

    -webkit-text-fill-color: transparent;
    
	  -webkit-animation: aitf 80s linear infinite;
    animation: aitf 80s linear infinite;
/* Activate hardware acceleration for smoother animations */

	  -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
	  -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

  }



/* Animate Background Image */
@keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}

.nav-item > a:hover {
  color: aqua!important;
}

.disabled {
    pointer-events:none; 
    opacity:0.6;         
}

</style>

  <!-- Ssidebar contem os links de navegacao parte preta principal tamnho normal era 250px-->

<aside class="main-sidebar sidebar-dark-primary elevation-4" style="background-color:black;">
      <!-- Brand Logo contem o logo unifei-->
      <a href="{% url 'admin_home' %}" class="brand-link">
        <img src="{% static 'dist/img/logounifei.jpg' %}" alt="unifeilogo" class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-light" style="background-color:black">University</span>
      </a>

      <!-- Sidebar  contema  parte de imagem usuario-->
      <div class="sidebar" style="background-color:black">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
          </div>
          <div class="info">
            <a href="{% url 'admin_profile' %}" class="d-block">{{ user.first_name }} {{ user.last_name }}</a>
          </div>
        </div>

        
        <!-- Sidebar Menu contem os meus -->
    <nav class="mt-2"  >
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
              {% url 'admin_home' as admin_home %}
              <a href="{{ admin_home }}" class="nav-link {% if request.path == admin_home %} active {% endif %}">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                  Home
                </p>
              </a>
          </li>
        

          <div class="animacao">
            <p>
            <span>
              Professor
            </span>
          </p>
          </div>
            
            <li class="nav-item">
              {% url 'manage_staff' as manage_staff %}
              {% url 'edit_staff' staff_id=id as edit_staff %}
              <a href="{{ manage_staff }}" class="nav-link {% if request.path == manage_staff %} active {% endif %} {% if request.path == edit_staff %} active {% endif %}">
                <i class="nav-icon fas fa-chalkboard-teacher"></i>
                <p>
                  Gerenciar Professor
                </p>
              </a>
            </li>
            
            <li class="nav-item">
              {% url 'add_staff' as add_staff %}
              <a href="{{ add_staff }}" class="nav-link {% if request.path == add_staff %} active {% endif %}">
                <i class="nav-icon fas fa-chalkboard-teacher"></i>
                <p>
                  Adicionar Professor
                </p>
              </a>
            </li>

            <li class="nav-item">
              {% url 'staff_feedback_message' as staff_feedback_message %}
              <a href="{{ staff_feedback_message }}" class="nav-link {% if request.path == staff_feedback_message %} active {% endif %}">
                <i class="nav-icon fas fa-chalkboard-teacher"></i>
                <p>
                  Professor Feedback
                </p>
              </a>
            </li>

            <li class="nav-item">
              {% url 'staff_leave_view' as staff_leave_view %}
              <a href="{{ staff_leave_view }}" class="nav-link {% if request.path == staff_leave_view %} active {% endif %}">
                <i class="nav-icon fas fa-chalkboard-teacher"></i>
                <p>
                  Professor Comparecimento
                </p>
              </a>
            </li>

            <div class="animacao">
              <p>
              <span>
                Alunos
              </span>
            </p>
            </div>
            

            
            <li class="nav-item">
              {% url 'manage_student' as manage_student %}
              {% url 'edit_student' student_id=id as edit_student %}
              <a href="{{ manage_student }}" class="nav-link {% if request.path == manage_student %} active {% endif %} {% if request.path == edit_student %} active {% endif %}">
                <i class="nav-icon fas fa-user-graduate"></i>
                <p>
                  Gerenciar Aluno
                </p>
              </a>
            </li>

            <li class="nav-item">
              {% url 'add_student' as add_student %}
              <a href="{{ add_student }}" class="nav-link {% if request.path == add_student %} active {% endif %}">
                <i class="nav-icon fas fa-user-graduate">

                </i>
                <p>
                  Adicionar Aluno
                </p>
              </a>
            </li>
         
            <li class="nav-item">
              {% url 'student_feedback_message' as student_feedback_message %}
              <a href="{{ student_feedback_message }}" class="nav-link {% if request.path == student_feedback_message %} active {% endif %}">
                <i class="nav-icon fas fa-user-graduate"></i>
                <p>
                  Aluno Feedback
                </p>
              </a>
            </li>
          
            <li class="nav-item">
              {% url 'student_leave_view' as student_leave_view %}
              <a href="{{ student_leave_view }}" class="nav-link {% if request.path == student_leave_view %} active {% endif %}">
                <i class="nav-icon fas fa-user-graduate"></i>
                <p>
                  Aluno Comparecimento
                </p>
              </a>
            </li>
          

        
            <li class="nav-item">
              {% url 'admin_view_attendance' as admin_view_attendance %}
              <a href="{{ admin_view_attendance }}" class="nav-link {% if request.path == admin_view_attendance %} active {% endif %}">
                <i class="nav-icon fas fa-user-graduate "></i>
                <p>
                  Verificar Comparecimento Aluno
                </p>
              </a>
            </li>
         
            
            <div class="animacao">
              <p>
              <span>
                Dsiciplina
              </span>
            </p>
            </div>
            <li class="nav-item">
              {% url 'manage_course' as manage_course %}
              {% url 'edit_course' course_id=id as edit_course %}
              <a href="{{ manage_course }}" class="nav-link {% if request.path == manage_course %} active {% endif %} {% if request.path == edit_course %} active {% endif %}">
                <i class="nav-icon fas fa-chalkboard"></i>
                <p>
                  Gerenciar Disciplina
                </p>
              </a>
            </li>

            <li class="nav-item">
            {% url 'add_course' as add_course %}
              <a href="{{ add_course }}" class="nav-link {% if request.path == add_course %} active {% endif %}">
                <i class="nav-icon fas fa-chalkboard"></i>
                <p>
                  Adicionar Disciplina
                </p>
              </a>
            </li>

            <div class="animacao">
              <p>
              <span>
                Assuntos
              </span>
            </p>
            </div>
            <li class="nav-item">
              {% url 'manage_subject' as manage_subject %}
              {% url 'edit_subject' subject_id=id as edit_subject %}
              <a href="{{ manage_subject }}" class="nav-link {% if request.path == manage_subject %} active {% endif %} {% if request.path == edit_subject %} active {% endif %}">
                <i class="nav-icon far fa-comment"></i>
                <p>
                  Gerenciar Assunto
                </p>
              </a>
            </li>

            <li class="nav-item">
              {% url 'add_subject' as add_subject %}
              <a href="{{ add_subject }}" class="nav-link {% if request.path == add_subject %} active {% endif %}">
                <i class="nav-icon far fa-comment	"></i>
                <p>
                  Add Assunto
                </p>
              </a>
            </li>

            <div class="animacao">
              <p>
              <span>
                Periodos
              </span>
            </p>
            </div>
            <li class="nav-item">
              {% url 'manage_session' as manage_session %}
              {% url 'edit_session' session_id=id as edit_session %}
              <a href="{{ manage_session }}" class="nav-link {% if request.path == manage_session %} active {% endif %} {% if request.path == edit_session %} active {% endif %}">
                <i class="nav-icon fas fa-university"></i>
                <p>
                  Gerenciar Periodos 
                </p>
              </a>
            </li>

            <li class="nav-item">
              {% url 'add_session' as add_session %}
              <a href="{{ add_session }}" class="nav-link {% if request.path == add_session %} active {% endif %}">
                <i class="nav-icon fas fa-university"></i>
                <p>
                  Adicionar Periodos
                </p>
              </a>
            </li>

            <div class="animacao">
              <p>
              <span>
                Videos & Aula Remota
              </span>
            </p>
            </div>

           

            <li class="nav-item">
              {% url 'book_list' as book_list %}
              <a href="{{ book_list }}" class="nav-link {% if request.path == book_list %} active {% endif %}">
                <i class="nav-icon  fas fa-book-open"></i>
                <p>
                  Inserir Atividade
                </p>
              </a>
            </li>

            <li class="nav-item">
              {% url 'live' as live %}
              <a href="{{ live }}" class="nav-link {% if request.path == live %} active {% endif %}">
                <i class="nav-icon fas fa-chalkboard"></i>
                <p>
                  Quadro
                </p>
              </a>
            </li>

            <li class="nav-item">
              {% url 'VideoIndex' as VideoIndex %}
              <a href="{{ VideoIndex }}" class="nav-link {% if request.path == VideoIndex %} active {% endif %}">
                <i class="nav-icon fa fa-film"></i>
                <p>
                  Video Aulas
                </p>
              </a>
            </li>

            <li class="nav-item">
              {% url 'GMeet' as GMeet %}
              <a href="{{ GMeet }}" class="nav-link {% if request.path == GMeet %} active {% endif %} ">
                <i class="nav-icon fas fa-play-circle"></i>
                <p>
                  Gmeet Clone 
                </p>
              </a>
            </li>

           
            
            <div class="animacao">
              <p>
              <span>
                Organização
              </span>
            </p>
            </div>

            <li class="nav-item">
              {% url 'calendar' as calendar %}
              <a href="{{ calendar }}" class="nav-link {% if request.path == calendar %} active {% endif %} ">
                <i class="nav-icon fa fa-calendar"></i>
                <p>
                  Calendario 
                </p>
              </a>
            </li>

     
            <li class="nav-item">
              {% url 'Brainstorming' as Brainstorming %}
              <a href="{{ Brainstorming }}" class="nav-link {% if request.path == Brainstorming %} active {% endif %} ">
                <i class="nav-icon fas fa-lightbulb"></i>
                <p>
                  Brainstorming & UML
                </p>
              </a>
            </li>

            <li class="nav-item">
              {% url 'Formulario' as Formulario %}
              <a href="{{ Formulario }}" class="nav-link {% if request.path == Formulario %} active {% endif %}">
                <i class="nav-icon fab fa-wpforms"></i>
                <p>
                  Formulário
                </p>
              </a>
            </li>
           
          


         
        

            <li class="nav-item">
                {% url 'gr' as gr %}
                <a href="{{ gr }}" class="nav-link {% if request.path == gr %} active {% endif %} ">
                <i class="nav-icon fas fa-chart-line"></i>
                <p>
                  Gráficos
                </p>
              </a>
            </li>
             
                               
             


          

           

            <div class="animacao">
              <p>
              <span>
                Compilador
              </span>
            </p>
            </div>
     
            <li class="nav-item">
              {% url 'Compilador' as Compilador %}
              <a href="{{ Compilador }}" class="nav-link {% if request.path == Compilador %} active {% endif %} ">
                <i class="nav-icon fas fa-code"></i>
                <p>
                  Compilador 
                </p>
              </a>
            </li>

        
 
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>